$lighter-blue: #4CA1C3;
$nav-spacing-from-left: 16px;

.flood-viewer {
  font-family: 'Open Sans', sans-serif;

  .leaflet-container {
    font-family: 'Open Sans', sans-serif;
  }

  // override mdl default for padding
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding-right: 20px;
  }
}

body {
  width: 100%;
  height: 100%;
}

.site-warning {
  color: #770F0F;
  background: #FFC3C3;
  padding: 4px 20px;
}

.nav__head {
  background-image: url(../images/flood_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #3C7E9B;
  color: white;
  font-weight: 300;
  padding-left: $nav-spacing-from-left;
}

.nav__title {
  margin: 6px auto 12px;
  font-size: 1.6em;
  letter-spacing: 2px;
}

.nav__title-kernfix {
  letter-spacing: 5px;
}

.resources {
  flex: 1;
  background-color: $lighter-blue;
}

.resources__title {
  position: relative;

  background-image: url(../images/planning_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #225B6F;
  min-height: 124px;
}

.resources__title-text {
  position: absolute;
  bottom: 0;
  left: $nav-spacing-from-left;

  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.footer {
  min-height: 50px;
  background-color: #368AAC;
  color: white;

  position: relative;
}

.footer__developed-by {
  position: absolute;
  bottom: 4px;
  left: $nav-spacing-from-left;

  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 1px;

  a {
    color: white;
    font-weight: inherit;
    text-decoration: inherit;
  }
}

// override mdl drawer top padding
.mdl-layout__drawer .mdl-navigation.nav__layers {
  padding-top: 0px;
}

.map {
  height: 100%;
  width: 100%;
}

.map--full {
  position: absolute;
  height: 100%;
  width: 100%;
}

.popup {
  .leaflet-popup-content-wrapper {
    padding: 0 0 1px 0;
    border-radius: 0px;

    .leaflet-popup-content {
      margin: 0 0 0 0;
    }
  }

  .popup__title {
    background-color: red;
  }

  .popup__title-text {
    color: white;
    vertical-align: middle;
    font-size: 1.4em;
    margin-right: 18px;
  }

  .popup__icon {
    max-height: 30px;
    // note: !important is to override leaflet popup img rule
    max-width: 60px !important;
    margin: 6px 14px 6px 14px;
  }

  // customize popup tip - give it a more narrow angle
  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  }

  .leaflet-popup-tip-container {
    width: 70px;
    height: 70px;
  }

  .leaflet-popup-tip {
    width: 55px;
    height: 55px;
    margin: -30px 0px 0px 6px;
    padding: 1px;

    $popup-tip-transform: rotate(45deg) skew(20deg, 20deg);
    -webkit-transform: $popup-tip-transform;
    -moz-transform: $popup-tip-transform;
    -ms-transform: $popup-tip-transform;
    -o-transform: $popup-tip-transform;
    transform: $popup-tip-transform;
  }
}

.info__name {
  font-weight: 600;
  font-size: 1.5em;
  margin: 4px 18px 4px 18px;
}

.info__img {
  img {
    padding: 0 30 0 30;
  }
}

.leaflet-container .info__image img {
  max-width: 100% !important;
}

.mdl-navigation__link {
  padding-left: 10px;
  border-bottom: 2px solid #48A2C3;

  &:first-child {
    border-top: 2px solid #48A2C3;
  }
}

.feature-layer__icon-wrapper {
  width: 60px;
  float: left;
}

.feature-layer__icon {
  display: block;
  margin: 0 auto;
  max-height: 30px;
  max-width: 40px;
}

.feature-layer__name {
  margin-right: 10px;
}

.feature-layer__checkbox {
  float: right;
}

.mdl-menu__item.active {
  color: black;
  font-weight: bold;
}

.easy-button-button {
  padding: 1px 0 0 0;
  text-align: center;
}

/* Material Icon additional rules. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
