$lighter-blue: #39aad2;
$darker-blue: #2c88a9;
$twdb-blue: #3f556d;

$darker-blue-version2: #265577;
$lighter-blue-version2: #3473A2;
$accent-dark-green: #92C553;
$accent-light-green: #AED480;

$layout-drawer-width-threshold: 400px !default;
$nav-spacing-from-left-narrow: 6px;
$nav-spacing-from-left-wide: 16px;

body {
  width: 100%;
  height: 100%;
}

.flood-viewer {
  font-family: 'Open Sans', sans-serif;

  .leaflet-container {
    font-family: 'Open Sans', sans-serif;
  }

  .mdl-layout__drawer {
    box-shadow: 0 0px 8px rgba(0,0,0,0.65);

    // override mdl white border
    border-right: none;

    // override mdl default for padding
    .mdl-navigation .mdl-navigation__link {
      padding-right: $nav-spacing-from-left-wide;
      padding-left: $nav-spacing-from-left-wide - 6;

      @media screen and (max-width: $layout-drawer-width-threshold) {
        padding-right: $nav-spacing-from-left-narrow;
        padding-left: $nav-spacing-from-left-narrow - 2;
      }
    }
  }

  .popup .leaflet-popup-content-wrapper {
    padding-bottom: 0px;
  }

  .mdl-layout__drawer-button {
    background-color: $darker-blue;
    margin: 20px 0 0 0;

    i {
      color: #ffffff;
      font-size: 34px;
      margin: 7px 0 0 -2px;
    }
  }
}

.site-warning {
  color: #770F0F;
  background: #FFC3C3;
  padding: 4px 20px;
}

.nav__head {
  background-image: url(../images/flood_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #123469;
  color: white;
  font-weight: 300;
  padding-left: $nav-spacing-from-left-wide;
  padding-right: $nav-spacing-from-left-wide;

  @media screen and (max-width: $layout-drawer-width-threshold) {
    padding-left: $nav-spacing-from-left-narrow;
    padding-right: $nav-spacing-from-left-narrow;
  }
}

.nav__title {
  margin: 13px auto 10px;
  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  @media screen and (max-width: $layout-drawer-width-threshold) {
    margin: 8px auto 10px;
  }
}

.nav__subtitle {
  text-align: center;
  margin: 30px auto 10px auto;
  text-shadow: 1px 1px 5px black, 1px 1px 2px black;

  @media screen and (max-width: $layout-drawer-width-threshold) {
    margin: 20px auto 10px auto;
  }
}

.resources {
  flex-grow: 1;
  background-color: #3473A2;
  color: white;

  a {
    color: white;
    font-weight: inherit;
    text-decoration: none;
  }

  .resources__links.mdl-navigation {
    padding-top: 0;

    a.resources__link.mdl-navigation__link {
      padding-left: $nav-spacing-from-left-wide + 4;

      color: white;
      font-weight: 300;
      font-size: 1.3em;
      letter-spacing: 1.2px;

      @media screen and (max-width: $layout-drawer-width-threshold) {
        padding-left: $nav-spacing-from-left-narrow + 2;
      }

      &:hover {
        // background-color: lighten($lighter-blue, 12%);
        background-color: #265577;
      }
    }
  }
}

.resources__title {
  position: relative;

  background-image: url(../images/planning_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: $lighter-blue;
  min-height: 124px;
  padding-bottom: 10px;
}

.resources__title-text {
  position: absolute;
  bottom: 0;
  left: $nav-spacing-from-left-wide + 4;

  // text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1.2px;

  @media screen and (max-width: $layout-drawer-width-threshold) {
    left: $nav-spacing-from-left-narrow + 2;
  }
}

.footer {
  min-height: 50px;
  background-color: #265577;
  color: white;

  position: relative;
}

.footer__wrapper {
  position: relative;
  margin: auto;

  width: 235px;
  height: 47px;
}

.footer__twdb-logo {
  position: absolute;
  left: 99px;
  bottom: 1px;

  img {
    height: 42px
  }
}

.footer__tnris-logo {
  position: absolute;
  right: 165px;
  bottom: -2px;

  img {
    height: 46px;
    // width: 145px;
  }
}

// override mdl drawer top padding
.mdl-layout__drawer .mdl-navigation.nav__layers {
  padding-top: 0px;
}

.map {
  height: 100%;
  width: 100%;
}

.map--full {
  position: absolute;
  height: 100%;
  width: 100%;
}

.map__cursor--pointer {
  cursor: pointer;

  &.leaflet-container {
    cursor: pointer;
  }
}

.popup {

  .leaflet-popup-content-wrapper {
    padding: 0 0 1px 0;
    border-radius: 0px;

    .leaflet-popup-content {
      margin: 0 0 0 0;
    }
  }

  .popup__title {
    position: absolute;
    width: 100%;
    background-color: #ba1010;
  }

  .popup__title-text {
    color: white;
    vertical-align: middle;
    font-size: 1.4em;
    margin-right: 18px;
  }

  .popup__content {
    padding-top: 47px;
  }

  .popup__icon {
    max-height: 30px;
    // note: !important is to override leaflet popup img rule
    max-width: 50px !important;
    margin: 6px 14px 6px 14px;
  }

  .subscribe-button {
    font-size: 1em;
    float: right;
    top: 4px;
  }

  // customize popup tip - give it a more narrow angle
  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  }

  .leaflet-popup-tip-container {
    width: 70px;
    height: 70px;
  }

  .leaflet-popup-tip {
    width: 55px;
    height: 55px;
    margin: -30px 0px 0px 6px;
    padding: 1px;

    $popup-tip-transform: rotate(45deg) skew(20deg, 20deg);
    -webkit-transform: $popup-tip-transform;
    -moz-transform: $popup-tip-transform;
    -ms-transform: $popup-tip-transform;
    -o-transform: $popup-tip-transform;
    transform: $popup-tip-transform;
  }
}

.info__name {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0px 18px 3px 18px;
  vertical-align: middle;
}


.info__text {
  font-family: monospace;
  font-weight: 400;
  font-size: 1em;
  margin: 4px 18px 0px 18px;
  padding-bottom: 20px;
  max-width: 600px;
}

.leaflet-container .info__image img {
  max-width: 100% !important;
}

// override mdl display so we can set to flexbox
.flood-viewer .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  display: inherit;
}

.feature-layer__link {
  min-height: 40px;
}

.feature-layer__link.mdl-navigation__link {
  display: flex;
  flex-direction: column;

  padding-left: $nav-spacing-from-left-wide - 6;
  border-bottom: 1px solid #AED480;

  @media screen and (max-width: $layout-drawer-width-threshold) {
    padding-left: $nav-spacing-from-left-narrow - 2;
  }
}

.feature-layer__wrapper {
  display: flex;
  flex-direction: row;

  flex: 1;
}

.feature-layer__icon-wrapper {
  width: 50px;
  align-self: flex-start;
  margin: auto;
}

.feature-layer__icon {
  display: block;
  margin: 0 auto;
  max-height: 30px;
  max-width: 40px;
}

.feature-layer__name {
  flex: 1;
  margin: auto auto auto 6px;

  color: black;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .4px;
  word-spacing: 2px;
}

.feature-layer__checkbox {
  align-self: flex-end;
  margin: auto;
}

.feature-layer__legend {
  margin: auto;
  width: 100%;

  img {
    max-width: 208px;
    margin: 4px 0 0 56px;

    @media screen and (max-width: $layout-drawer-width-threshold) {
      margin-left: 16px;
    }
  }
}

.mdl-menu__item.active {
  color: black;
  font-weight: bold;
}

.easy-button-button {
  padding: 1px 0 0 0;
  text-align: center;
}

/* Material Icon additional rules. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


// cribbed with 💖 from https://css-tricks.com/centering-in-the-unknown/
//  ...as a workaround for buggy IE flexbox
//
/* This parent can be any width and height */
.vertically-centered__wrapper {
  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}
/* The ghost, nudged to maintain perfect centering */
.vertically-centered__wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* The element to be centered, can also be of any width and height */
.vertically-centered__element {
  display: inline-block;
  vertical-align: middle;
}

.disclaimer {
    /* Override default which is too narrow */
    width: 85% !important;
    /* Limit width for readability */
    max-width: 35em;
    /* Center vertically - also set left for Firefox */
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    /* Scrollbar to allow text viewing and input access on small screens */
    overflow-y: auto !important;
    /* Allow the scrollbar to work without forcing it on */
    max-height: 100%;
    /* Ensure this isn't transparent on Firefox */
    background-color: white;
}

dialog.disclaimer h4 {
    /* Reduce size to avoid line break in title */
    font-size: 2em;
}

.subscribeDialog {
    /* Override default which is too narrow */
    // width: 85% !important;
    /* Limit width for readability */
    max-width: 35em;
    /* Center vertically - also set left for Firefox */
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    /* Scrollbar to allow text viewing and input access on small screens */
    overflow-y: auto !important;
    /* Allow the scrollbar to work without forcing it on */
    max-height: 100%;
    /* Ensure this isn't transparent on Firefox */
    background-color: white;
    position: fixed;
}

dialog.subscribeDialog h4 {
    /* Reduce size to avoid line break in title */
    font-size: 1.5em;
}

.aboutDialog {
    /* Override default which is too narrow */
    // width: 85% !important;
    /* Limit width for readability */
    min-width: 70% !important;
    margin-left: 0;
    margin-right: 0;
    /* Center vertically - also set left for Firefox */
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    /* Scrollbar to allow text viewing and input access on small screens */
    overflow-y: auto !important;
    /* Allow the scrollbar to work without forcing it on */
    max-height: 90%;
    /* Ensure this isn't transparent on Firefox */
    background-color: white;
    position: fixed;

    h4 {
      /* Reduce size to avoid line break in title */
      margin-top: 0;
    }
}

.weatherTimestamp {
  p {
    font-size: 14px;
    margin: 0;
    color: white;
    text-shadow:
    -1px -1px 0 #666666,
    1px -1px 0 #666666,
    -1px 1px 0 #666666,
    1px 1px 0 #666666;
  }
  z-index: 6;
  position: absolute;
  left: 60px;
  bottom: 25px;
  padding: 4px;
}

.animateRadar {
  font-size: 14px;
  z-index: 6;
  position: absolute;
  left: 10px;
  bottom: 25px;
  padding: 4px;
}

.betanotice {
    background-color: #FCF8E3;
    bottom: -10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    left: 50%;
    min-width: 230px;
    opacity: 0.9;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 6;
    p {
        color: #DB9840;
        font-size: 12px;
        margin: 0;
    }
}

.hide-beta {
    display: none;
}

div.dialog-button-div {
  padding-left: 8px;

  .terms-agree-button {
    color: white !important;
    background-color: $lighter-blue-version2;
    border-radius: 0;
    width: 100%;
    font-size: 90%;
  }
}

button.toggle-navigation-content {
    color: black;
    background-color: $accent-light-green;
    letter-spacing: 1.2px;
    border: 0;
    border-color:  $accent-light-green;
    border-radius: 0;
    height: 56px;
    width: 100%;
    // text-transform: capitalize;
    font-size: 1.1em;
    letter-spacing: .8px;
    word-spacing: 2px;
    
    &:hover {
        color: black;
        background-color: $accent-dark-green;
    }
}

.subscription-list-item {
    border-bottom: 1px solid $accent-light-green;
    margin: 0;
}

.mdl-list__item--two-line {
    height: 85px !important;
}

.mdl-tooltip {
    will-change: auto;
}

.subscription-list-item__locateAction {
    // height: 85px;
    margin: 0 !important;
    margin-left: 4px !important;
    width: 40px !important;
    // margin-top: -30px !important;
    // margin-bottom: -30px !important;

    span {
        height: 100%;
        width: 40px;
    }
}

span.mdl-list__item-secondary-content.subscription-list-item__locateAction > span {
    margin: 0;
    
    button {
        background-color: $lighter-blue-version2 !important;
        box-shadow: none;
        color: white;
        
        &:hover {
            background-color: $darker-blue-version2 !important;
        }

        span {
            margin: 0
        }
    }
}

span.mdl-badge {
    margin-left: 10px;
    
    &:after {
        background-color: $accent-dark-green !important;
    }
}

span.mdl-list__item-secondary-info {
    margin-right: 4px;
}

span.mdl-list__item-secondary-action > i {
    font-size: 22px;
    margin-right: 5px !important;
}

.mdl-list__item-sub-title {
    font-size: 10px !important;
}

.mdl-tooltip {
    will-change: inherit !important;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid $lighter-blue-version2 !important;
    .mdl-checkbox__tick-outline {
        background-color: $lighter-blue-version2 !important;
    }
}

.flood-form-button {
    color: $darker-blue-version2 !important;
}
