$lighter-blue: #4CA1C3;
$darker-blue: #368AAC;

$layout-drawer-width-threshold: 400px !default;
$nav-spacing-from-left-narrow: 6px;
$nav-spacing-from-left-wide: 16px;

body {
  width: 100%;
  height: 100%;
}

.flood-viewer {
  font-family: 'Open Sans', sans-serif;

  .leaflet-container {
    font-family: 'Open Sans', sans-serif;
  }

  .mdl-layout__drawer {
    box-shadow: 0 0px 8px rgba(0,0,0,0.65);

    // override mdl white border
    border-right: none;

    // override mdl default for padding
    .mdl-navigation .mdl-navigation__link {
      padding-right: $nav-spacing-from-left-wide;
      padding-left: $nav-spacing-from-left-wide - 6;

      @media screen and (max-width: $layout-drawer-width-threshold) {
        padding-right: $nav-spacing-from-left-narrow;
        padding-left: $nav-spacing-from-left-narrow - 2;
      }
    }
  }

  .popup .leaflet-popup-content-wrapper {
    padding-bottom: 0px;
  }
}

.site-warning {
  color: #770F0F;
  background: #FFC3C3;
  padding: 4px 20px;
}

.nav__head {
  background-image: url(../images/flood_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #123469;
  color: white;
  font-weight: 300;
  padding-left: $nav-spacing-from-left-wide;
  padding-right: $nav-spacing-from-left-wide;

  @media screen and (max-width: $layout-drawer-width-threshold) {
    padding-left: $nav-spacing-from-left-narrow;
    padding-right: $nav-spacing-from-left-narrow;
  }
}

.nav__title {
  margin: 13px auto 10px;
  img {
    max-width: 100%;
  }

  @media screen and (max-width: $layout-drawer-width-threshold) {
    margin: 8px auto 10px;
  }
}

.nav__subtitle {
  margin: 30px auto 10px auto;
  text-shadow: 1px 1px 5px black, 1px 1px 2px black;

  @media screen and (max-width: $layout-drawer-width-threshold) {
    margin: 20px auto 10px auto;
  }
}

.resources {
  flex-grow: 1;
  background-color: $lighter-blue;
  color: white;

  a {
    color: white;
    font-weight: inherit;
    text-decoration: none;
  }

  .resources__links.mdl-navigation {
    padding-top: 8px;

    a.resources__link.mdl-navigation__link {
      padding-left: $nav-spacing-from-left-wide + 4;

      color: white;
      font-weight: 300;
      font-size: 1.3em;
      letter-spacing: 1.2px;

      @media screen and (max-width: $layout-drawer-width-threshold) {
        padding-left: $nav-spacing-from-left-narrow + 2;
      }

      &:hover {
        background-color: lighten($lighter-blue, 12%);
      }
    }
  }
}

.resources__title {
  position: relative;

  background-image: url(../images/planning_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #225B6F;
  min-height: 124px;
}

.resources__title-text {
  position: absolute;
  bottom: 0;
  left: $nav-spacing-from-left-wide;

  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;

  @media screen and (max-width: $layout-drawer-width-threshold) {
    left: $nav-spacing-from-left-narrow;
  }
}

.footer {
  min-height: 50px;
  background-color: $darker-blue;
  color: white;

  position: relative;
}

.footer__wrapper {
  position: relative;
  margin: auto;

  width: 235px;
  height: 47px;
}

.footer__made-by {
  position: absolute;
  bottom: 0px;
  left: 0px;

  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.footer__twdb-logo {
  position: absolute;
  right: 0px;
  bottom: 1px;

  img {
    width: 145px;
  }
}

// override mdl drawer top padding
.mdl-layout__drawer .mdl-navigation.nav__layers {
  padding-top: 0px;
}

.map {
  height: 100%;
  width: 100%;
}

.map--full {
  position: absolute;
  height: 100%;
  width: 100%;
}

.map__cursor--pointer {
  cursor: pointer;

  &.leaflet-container {
    cursor: pointer;
  }
}

.popup {
  .leaflet-popup-content-wrapper {
    padding: 0 0 1px 0;
    border-radius: 0px;

    .leaflet-popup-content {
      margin: 0 0 0 0;
    }
  }

  .popup__title {
    background-color: red;
  }

  .popup__title-text {
    color: white;
    vertical-align: middle;
    font-size: 1.4em;
    margin-right: 18px;
  }

  .popup__icon {
    max-height: 30px;
    // note: !important is to override leaflet popup img rule
    max-width: 60px !important;
    margin: 6px 14px 6px 14px;
  }

  // customize popup tip - give it a more narrow angle
  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  }

  .leaflet-popup-tip-container {
    width: 70px;
    height: 70px;
  }

  .leaflet-popup-tip {
    width: 55px;
    height: 55px;
    margin: -30px 0px 0px 6px;
    padding: 1px;

    $popup-tip-transform: rotate(45deg) skew(20deg, 20deg);
    -webkit-transform: $popup-tip-transform;
    -moz-transform: $popup-tip-transform;
    -ms-transform: $popup-tip-transform;
    -o-transform: $popup-tip-transform;
    transform: $popup-tip-transform;
  }
}

.info__name {
  font-weight: 600;
  font-size: 1.5em;
  margin: 4px 18px 0px 18px;
}

.info__text {
  font-family: monospace;
  font-weight: 400;
  font-size: 1em;
  margin: 4px 18px 0px 18px;
  padding-bottom: 20px;
  max-width: 600px;
}

.info__img {
  img {
    padding: 4px 30px 0px 30px;
  }
}

.leaflet-container .info__image img {
  max-width: 100% !important;
}

// override mdl display so we can set to flexbox
.flood-viewer .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  display: inherit;
}

.feature-layer__link {
  min-height: 40px;
}

.feature-layer__link.mdl-navigation__link {
  display: flex;
  flex-direction: column;

  padding-left: $nav-spacing-from-left-wide - 6;
  border-bottom: 1px solid $darker-blue;

  @media screen and (max-width: $layout-drawer-width-threshold) {
    padding-left: $nav-spacing-from-left-narrow - 2;
  }
}

.feature-layer__wrapper {
  display: flex;
  flex-direction: row;

  flex: 1;
}

.feature-layer__icon-wrapper {
  width: 50px;
  align-self: flex-start;
  margin: auto;
}

.feature-layer__icon {
  display: block;
  margin: 0 auto;
  max-height: 30px;
  max-width: 40px;
}

.feature-layer__name {
  flex: 1;
  margin: auto auto auto 6px;

  color: black;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .4px;
  word-spacing: 2px;
}

.feature-layer__checkbox {
  align-self: flex-end;
  margin: auto;
}

.mdl-menu__item.active {
  color: black;
  font-weight: bold;
}

.easy-button-button {
  padding: 1px 0 0 0;
  text-align: center;
}

/* Material Icon additional rules. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


// cribbed with 💖 from https://css-tricks.com/centering-in-the-unknown/
//  ...as a workaround for buggy IE flexbox
//
/* This parent can be any width and height */
.vertically-centered__wrapper {
  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}
/* The ghost, nudged to maintain perfect centering */
.vertically-centered__wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* The element to be centered, can also be of any width and height */
.vertically-centered__element {
  display: inline-block;
  vertical-align: middle;
}
