{
  "presets": ["env", "react", "stage-0"],
  "plugins": ["emotion"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "testing": {
        "presets": ["react-native"]
      }
  }
}
