
body {
  width: 100%;
  height: 100%;
}

.site-warning {
  color: #770F0F;
  background: #FFC3C3;
  padding: 4px 20px;
}

.map {
  height: 100%;
  width: 100%;
}

.map--full {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mdl-menu__item.active {
  color: black;
  font-weight: bold;
}